.direnv
.cache/texmf-var/luatex-cache/generic
main.aux
main.fdb_latexmk
main.fls
main.log
main.out
main.synctex.gz
indent.log
main.bbl
main.bcf
main.blg
main.run.xml
main.acn
main.glo
main.ist
.ccls-cache/
_minted-main
